# Test URI
# Ignore netbeans folder
nbproject/*
 
# Ignore private folder
/app/private/*
!/app/private/empty
 
# Ignore packed asset files
/app/webroot/css/packed/*
!app/webroot/css/packed/.htaccess
/app/webroot/js/packed/*
!app/webroot/js/packed/.htaccess
 
# MAC
.DS_Store
 
# Windows
Thumbs.db
 
# Eclipse project files
/.cache
.project
/.settings
.buildpath
 
# Cake TMP Dirs
/app/tmp/*
!/app/tmp/
 
#/app/tmp/cache/*
#!/app/tmp/cache/
#!/app/tmp/cache/empty
/app/tmp/cache/models/*
#!/app/tmp/cache/models/
!/app/tmp/cache/models/empty
/app/tmp/cache/persistent/*
#!/app/tmp/cache/persistent/
!/app/tmp/cache/persistent/empty
/app/tmp/cache/views/*
#!/app/tmp/cache/views/
!/app/tmp/cache/views/empty
 
/app/tmp/logs/*
#!/app/tmp/logs/
!/app/tmp/logs/empty
 
/app/tmp/sessions/*
#!/app/tmp/sessions/
!/app/tmp/sessions/empty
 
/app/tmp/tests/*
#!/app/tmp/tests/
!/app/tmp/tests/empty
/app/tmp/installed.txt

/tasks.php
/phkapa_dev-error_log
/phkapa_dev-access_log

/app/Config/database.php
/app/Config/email.php

/lib/Cake/*
#!/lib/Cake/
!/lib/Cake/empty

/app/Locale/cake.po
/app/Locale/default.pot
/app/Locale/cake_dev.pot
/TODO
/TODO.php
/app/Locale/cake.pot
*.pot
/app/Plugin/DebugKit/
/app/Plugin/Drafts/
/app/Plugin/PrintReceipt/
/app/Plugin/Reports/
