
[submodule "app/Plugin/Reports"]
	path = app/Plugin/Reports
	url = git@gitlab.com:phkondo-private-plugins/reports.git
[submodule "app/Plugin/PrintReceipt"]
	path = app/Plugin/PrintReceipt
	url = git@gitlab.com:phkondo-private-plugins/print-receipt.git
[submodule "app/Plugin/Drafts"]
	path = app/Plugin/Drafts
	url = git@gitlab.com:phkondo-private-plugins/drafts.git
[submodule "app/Plugin/Attachments"]
	path = app/Plugin/Attachments
	url = git@gitlab.com:phkondo-private-plugins/attachments.git
